/* You can add global styles to this file, and also import other style files */
.content{
    width: 100%;
    display: flex;
    
}

.left{
    width:200px;
    height:500px; 
    border-right: 1px soild #eee;
    /* flex: 1; */
    background-color:aquamarine; 
}
.right{
    border-left: 1px soild red;
    flex: 1px; 
}